/* Fontes Google */

/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Import Bootstrap-icons */
@import 'bootstrap-icons';

/* Reset da pagina */
*{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    position: relative;
}

.navbar{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 18px 26px;
}

.logo-aoutra{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: auto;
}

img{
    filter: contrast(1.2) brightness(1);
    width: 100%;
    height: 100%;
}

.campanha img{
    width: 100%;
    height: auto;
    z-index: -100;
}

.navbar-toogle{
    max-width: 65px;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-toogle:hover{
    background-color: rgb(255,255,255);
    transition: ease .4s;
}

/* Formatações gerais */
h1,
h2,
h3,
h4,
h5,h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    font-weight: 300;
    color: #152126 !important;
}

/* Sobre - Inicio */
.sobre-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 75px 75px;
}

.sobre-info img{
    width: 680px;
    height: 100%;
}

.sobre-info h3{
    font-size: xx-large;
    color: #d2ac67 !important;
    text-align: left;
    margin-bottom: 24px;
    text-transform: uppercase;
    word-spacing: 1px;
}

/* Google Maps */
#goomaps{
    background-color: #c4080b;
    padding: 50px 20px;
    margin: auto auto;
}

.googdescription h3{
    font-size: xx-large;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    word-spacing: 1px;
}

.googdescription p,li{
    text-align: center;
    color: white !important;
    line-height: 30px;
}

.google-maps{
    padding: 30px 30px;
}

.google-maps iframe{
    max-width: 1250px;
    width: 100%;
    height: 720px;
    margin: auto auto;
    border: 2px solid #152126;
    border-radius: none;
}

/* Formulário - Inicio */

.form-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    position: relative;
    background-color: rgba(46, 45, 45, 0.3);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 100px 25px 25px;
}

fieldset{
    border: none;
}

input{
    border: 1px solid rgba(23,23,23,0.1);
    padding: 2px 5px;
    width: auto;
    height: 44px;
}

button{
    border: 4px solid #d40609;
    background-color: #d40609;
    padding: 15px 20px;
    width: 190px;
    height: 100%;
    color: white;
    text-transform: uppercase;
    border-radius: 50rem;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}

button:hover{
    background-color: #b80306;
    transition: ease .3s;
    border: 4px solid #b80306;
}

textarea{
    border: 1px solid rgba(23,23,23,0.1);
    background-color: #f4f0f0;
    padding: 5px 2px;
    text-align: initial;
    width: 100%;
}

label{
    display: block;
    text-transform: capitalize;
    line-height: 2rem;
    color: white;
    font-weight: bolder;
    /*text-shadow: 2px 2px 2px #808080;*/
}

input:focus{
    user-select: none;
    outline: 1px solid rgba(23,23,23,0.2);
}

textarea:focus{
    user-select: none;
    outline: 1px solid rgb(23,23,23,0.2);
}

input,textarea{
    border-radius: 2px;
    background-color: rgb(255,255,255);
    color: #636262;
}

.fieldset-default{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.formulario-background::before{
    position: absolute;
    display: block;
    content:"";
    background-image: url('../images/bg-contato-a-outra.jpg');
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: auto;
    bottom: auto;
    object-fit: cover;
}

.sac-info{
    display: flex;
    flex-grow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 38px;
    padding: 50px 150px 120px;
}

.sac-info h3{
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.sac-info p{
    font-size: medium;
    color: white !important;
    text-align: left;
}

ul li{
    list-style: none;
    color: white;
}

/* Incorpora Youtube - Inicio */
.incorpora-youtube{
    padding: 25px 50px 10px;
}

.incorpora-youtube h3{
    font-size: xx-large;
    color: #152126;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 600;
    word-spacing: 1px;
}

iframe{
    display: block;
    margin: auto auto;
}

/* Bootstrap Icons */
.icons{
    margin: auto auto;
    text-align: center;
    padding-bottom: 50px;
}

svg{
    font-size: x-large;
    color: white;
    background-color: #e91317;
    padding: 6px;
    border-radius: 50rem;
    width: 45px;
    height:45px;
}

.bi{
    font-size: x-large;
    color: white;
    background-color: #d40609;
    padding: 10px 10px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

/* Footer - Inicio */
footer{
    display: block;
    margin: auto;
    text-align: center;
    position: relative
}

footer::before{
    display: block;
    position: absolute;
    content: "";
    background-image:url('../images/tarja-final.jpg');
    background-attachment: local;
    background-position-y: -295px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: -100;
}

.copyright{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(46, 45, 45, 0.5);
}

.copyright h3{
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 600;
}

.copy-text{
    padding-top: 50px;
    padding-bottom: 8px;
}

.copy-text p{
    font-size: medium;
    color: white !important;
    text-align: center;
}

.foo-tampinhas{
    width: auto;
    height: auto;
    padding: 30px 10px;
}