.dropdown{
    display: flex;
    flex-flow: row-reverse nowrap;
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
}

.dropdown-suspenso{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5% 2%;
    width: 100%;
}

.show{
    background-color: grey;
}