.dropdown{
    display: flex;
    flex-flow: row-reverse nowrap;
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
}

.dropdown-suspenso{
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 10px;
    width: 100%;
}

span{
    font-family: 'Ubuntu';
    font-size: medium;
}